.feature-navigation {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: $color-white;
    position: sticky;
    justify-content: center;
    width: 100%;
    bottom: 0;
    z-index: 10;
  
    &::-webkit-scrollbar {
      display: none;
    }
    
    &{
    scrollbar-width: none;
      -ms-overflow-style: none;
    }

    @include responsive(lg) {
      position: static;
    }
  }