// Colors
$color-black: #000;
$color-dark: #0B122A; 
$color-text-primary: #0B172A;
$color-light-gray: #dee2e6;
$color-light-aqua: #F7FBFF;
$color-light: #FBFCFC;
$color-lighter: #F5F5F7;
$color-white: #fff;
$color-aqua: #0381FF;
$color-action: #007bff;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Typography
$font-family-base: 'SF Pro Display', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.75rem;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-xbold: 700;
$font-weight-bolder: 800;